
$eras-stack: eras, arial, sans-serif;
$lazenby-stack: lazenby, arial,sans-serif;



@font-face{
    font-family: eras;
    src: url('../fonts/woff/ERASDEMI.woff2');
}

@font-face{
    font-family: lazenby;
    src: url('../fonts/woff/LazenbyCompLiquid.woff2')
}

