@use 'fonts';
@use 'jupiter-theme';

#compose-view{
    position: relative;
    display: block;
    width: 40rem;
    height: 46rem;
    padding: 1rem;

    color: jupiter-theme.$dk-003;
    border: 2px solid jupiter-theme.$black-001;
    border-radius: 0.5rem;
    background-color: jupiter-theme.$white-001;

    .compose-view-title{
        height: 2rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
}

#compose-form{
    .compose-form-addresses{
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }

    .compose-form-message{
        border: 2px solid jupiter-theme.$dk-001;
        border-radius: 0.4rem;
        width: 100%;
        padding: 0.5rem;
    }

    .compose-input{
        display: block;
        width: 100%;
        height: 3rem;
        padding: 0.5rem;
    
    }

    #compose-submit{
        position: relative;
        display:block;
        margin-top: 0.5rem;
        width: 3rem;
        left: 10rem;
        opacity: 1;
        object-fit: cover;
        border: none;
        background-color: jupiter-theme.$white-001;
        cursor: pointer;

        animation-name: whoosh;
        animation-duration: 1000ms;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-play-state: paused;

        img{
            width:100%;
            transition-property: filter;
            transition-duration: 500ms;
            transition-timing-function: ease-in-out;
        }
    }
    #compose-submit:hover,
    #compose-submit:focus,
    #compose-submit:target{
        img{
            filter: jupiter-theme.$green-filter;
        }
    }

    .compose-input.subject{
        margin-bottom: 0.5rem;
    }

    .compose-textarea {
        min-height: 22rem;
        width: 100%;
        padding: 0.5rem;
    }

}



.login-form-wrapper{
    position: relative;
    display: block;
    width: 30rem;
    height: 16rem;
    padding: 1rem;

    margin: auto;

    color: jupiter-theme.$black-001;
    border: 2px solid jupiter-theme.$dk-002;
    background-color: jupiter-theme.$white-001;

}
.register{
    height: 20rem
}

.std-form-input{
    display: block;
    width: 100%;
    height: 3rem;
    padding: 1rem;
    margin-top: 0.5rem;
}

.basic-form{
    .basic-form-input{
        border: 2px solid jupiter-theme.$dk-002;
        border-radius: 0.5rem;
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
}
